<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>


	<header class="container">

		<hgroup>
			<h1>Vidoo</h1>
			<h2>Search Youtube videos by topics and languages.</h2>
		</hgroup>

		<hgroup>
			<label for="language">Language</label>
			<select id="language" required>
				<option value="" selected>Select a language..</option>
				<option>…</option>
			</select>
		</hgroup>

	</header>
  
</body>
</html>
